doc/out
*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
pkgobj/
pkg/
*.suo
*.sln.cache
_ReSharper.*/
*.user
~$*
TestResults/
*.testsettings
*.vsmdi
_Debug
*.swp
.vs
.vscode
.idea
packages/
nuget/
.DS_Store
Thumbs.db
Desktop.ini
BenchmarkDotNet.Artifacts
src/Simplexcel.TestApp/*.xlsx