name: CI Build


on:
  pull_request:
  push:
    branches:
    - master
    paths:
    - 'src/simplexcel/*'
    - '.github/workflows/*'
    - 'scripts/*'
    - '!/docs/*' # Don't run workflow when files are only in the /docs directory

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build
      shell: pwsh
      run: |
        cd scripts
        ./build.ps1
